# Test yourself 3

In [2]:
!wget http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
!wc -l adult.data

--2022-09-26 14:04:10--  http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3974305 (3.8M) [application/x-httpd-php]
Saving to: ‘adult.data.1’

adult.data.1        100%[===================>]   3.79M  6.80MB/s    in 0.6s

2022-09-26 14:04:10 (6.80 MB/s) - ‘adult.data.1’ saved [3974305/3974305]

32562 adult.data

In [3]:
!wc -w adult.data

488415 adult.data

In [4]:
!ls -l <folder> | wc -l
!head -n 2 adult.data

/bin/bash: -c: line 0: syntax error near unexpected token `|'
/bin/bash: -c: line 0: `ls -l <folder> | wc -l'
39, State-gov, 77516, Bachelors, 13, Never-married, Adm-clerical, Not-in-family, White, Male, 2174, 0, 40, United-States, <=50K
50, Self-emp-not-inc, 83311, Bachelors, 13, Married-civ-spouse, Exec-managerial, Husband, White, Male, 0, 0, 13, United-States, <=50K

In [5]:
!echo "age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,native-country,class" > header.csv

In [6]:
!cat header.csv adult.data > adult.csv

In [8]:
!head -n 1 adult.csv

age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,native-country,class

In [9]:
!sed "s/<string to replace>/<string to replace it with>/g" <source_file> > <target_file>.

/bin/bash: -c: line 0: syntax error near unexpected token `>'
/bin/bash: -c: line 0: `sed "s/<string to replace>/<string to replace it with>/g" <source_file> > <target_file>.'

In [10]:
!grep ", ?," adult.csv | wc -l

2399

In [11]:
!sed "s/, ?,/,,/g" adult.csv >  adult.csv

In [12]:
!head -n 120 adult.csv | tail -n 20 > adult_sample.csv

In [13]:
!head -n <total_lines> <source_file> | tail -n <number_of_lines> > <target_file>

/bin/bash: -c: line 0: syntax error near unexpected token `<'
/bin/bash: -c: line 0: `head -n <total_lines> <source_file> | tail -n <number_of_lines> > <target_file>'

In [14]:
!cat adult_sample.csv header.csv > adult_sample_with_header.csv